<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Oh noes!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="stylesheet" th:href="@{/css/error.css}"
	href="../css/index.css" />
</head>
<body>
	<div id="content">
		<h1>"I'm afraid I can't do that, Dave." - HAL9000</h1>
		<p>You either tried to do something you're not allowed to or tried to find something that does not exist.</p>
		<p th:if="${message} != null" th:text="'Errormessage: ' + ${message}"></p>
		<img alt="red eye" src="../image/HAL9000.png"/>
	</div>
	<div id="footer">2016 Project TARDIS</div>
</body>
</html>