<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to SAM, the Simple Application for Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/index.css}"
	href="../css/index.css" />
</head>
<body>
	<div id="heading">
		<h1>SAM - Simple Application for Management</h1>
		<img alt="SAM icon" src="../image/Clock.png" />
	</div>
	<div id="form">
		<form action="#" th:action="@{/index}" method="post">
			<div id="formcontentwrapper">
					<p>
						Username:<input id="username" name="username" type="text"/>
					</p>
					<p>
						Password:<input id="password" name="password" type="password"/>
					</p>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
					<p>
						<input id="registerButton" class="button" type="button" value="Register now!" onclick="window.location.href='registration'"/> <input
							id="loginButton" class="button" type="submit" value="Login" />
					</p>
			</div>
			<div id="errorwrapper">
				<p id="errorLogin" th:if="${param.error}">Invalid username and password.</p>
			</div>
		</form>
	</div>
	<div id="footer">2016 Project TARDIS</div>
</body>
</html>