<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to SAM, the Simple Application for Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/index.css}"
	href="../css/index.css" />
</head>
<body>
	<div id="heading">
		<h1>SAM - Simple Application for Management</h1>
		<img alt="SAM icon" src="../image/Clock.png" />
	</div>
	<div id="form">
		<div id="formcontentwrapper">
			<form action="#" th:action="@{/index}" th:object="${loginForm}" method="post">
				<p>
					Username:<input id="username" name="username" type="text" th:field="*{username}"/>
					<b th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</b>
				</p>
				<p>
					Password:<input id="password" name="password" type="password" th:field="*{password}"/>
					<b th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</b>
				</p>
				<p>
					<input id="registerButton" class="button" type="button" value="Register now!" onclick="window.location.href='registration'"/> <input
						id="loginButton" class="button" type="submit" value="Login" />
				</p>
			</form>
		</div>
	</div>
	<div id="footer">2016 Project TARDIS</div>
</body>
</html>