<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to SAM, the Simple Application for Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/index.css}"
	href="../css/index.css" />
</head>
<body>
	<div id="heading">
		<h1>SAM - Simple Application for Management</h1>
		<img alt="SAM icon" src="../image/Clock.png" />
	</div>
	<div id="form">
		<div id="formcontentwrapper">
			<form action="#" th:action="@{/overview}" method="post">
				<p>
					Username:<input name="username" type="text" />
				</p>
				<p>
					Password:<input name="password" type="password" />
				</p>
				<p>
					<input class="button" type="button" value="Register now!" onclick="window.location.href='registration'"/> <input
						class="button" type="submit" value="Login" />
				</p>
			</form>
		</div>
	</div>
	<div id="footer">2016 Project TARDIS</div>
</body>
</html>