<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/KanbanBoard.css}" href="../static/css/KanbanBoard.css" />
</head>
<body onresize="resizeWindow()" onpageshow="resizeWindow()">

<div id="bar" class="box">	
	<input id="accountpage" class="button" type="button" value="My Page" style="float:right;"/>
		<form th:action="@{/logout}" method="post">
		<input id="logout" class="button" type="submit" value="Log Out" style="float:right;margin-right:10px;"/> 
	</form>
	<p id = "username" style="float:right;margin:0px 20px" th:text="'Hello, '+${username}"/>
</div>

<div id="heading" class="box">
	<form action="#" th:action="@{/overview}" method="get" style="float:left;">
		<input type="image" src="../image/Clock.png"/>
	</form>
	<div id="notificationBox" onclick="showNotification(event)" onmouseleave="closeNotification()">
		<img alt="Alarm icon" src="../image/bell.png" style="width:50px;height:50px;"/>
		<div id="notification" style="display:none;"></div>
	</div>	
</div>

<div id="board" class="box">
	<div id="projectBox" class="box">
		<form action="#" th:action="@{/projectview}" th:object="${project}" method="get" style="margin:25px;height:60px;">
			<div th:text="'Project: '+ ${project.name}" style="font-size:40px;margin:15px;width:80%;float:left;position:relative;left:10%;"></div>
			<input class = "projectSettingButton" type="image" src = "../image/setting.png" style="float:right;"/>
			<input type = "hidden" name = "projectId" th:value ="${project.Id}"/>
		</form>

		<p th:text="${project.description}" style="font-size:25px;word-break:break-all;margin:30px;text-align:center;"/>
	</div>
	<div id="ToDo" class="kanban" style="float:left;"><p class="boardName">ToDo</p>
		
		<div class="entry" th:each="task : ${taskList}" id="${task.name}">		
			<div class="textBlock">
				<p class="taskNameText" th:text="${task.name}" />
				<p class="taskDescription" th:text="${task.description}" />				
			</div>
			<form action="#" th:action="@{/taskview}" th:object="${task}" method="get">
					<input class="taskSettingButton" type="image" id="${task.name} + Setting" src="../image/setting.png" />
					<input type = "hidden" name="taskId" th:value="${task.id.id}" />
			</form>
		</div>
		
		<form id="createTask" action="#" th:action="@{/kanbanboard}" th:object="${createTaskForm}" method="post">
			<img id="createTaskIcon" alt="Create icon" src="../image/create.png" onclick="showCreateTaskForm()"/>
			<input type="hidden" name="projectId" th:field="*{projectId}" th:value="${project.id.id}"/>
			<div id="createTaskFormWrapper">				
				<p> 
					Task Name:        	<input id="taskName" class="createTaskInput" th:field="*{taskName}"/>
					<b th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}">Task Name Error</b>
				</p>
				<p>
					Description: 	<input id="description" class="createTaskInput" th:field="*{description}"/>
					<b th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Task Description Error</b>
				</p>
				<p>
					Task Due:			<input id="dueDate" class="createTaskInput" type="Date" th:field="*{dueDate}"/>
					<b th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}">Due Date Error</b>
				</p>
				<p>
					Task Owner:			<input id="taskOwner" class="createTaskInput" th:field="*{owner}"/>
					<b th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}">Owner Error</b>
				</p>
				<input id="createTaskButton" class="button" type="submit" value="Create Task" />
			</div>			
		</form>
		
	</div>
	<div id="In-Progress" class="kanban" style="float:left;"><p class="boardName">In-Progress</p></div>
	<div id="Done" class="kanban" style="float:right;"><p class="boardName">Done</p></div>	
	<div id="Review" class="kanban" style="float:right;"><p class="boardName">Review</p></div>	
</div>

<div id="footer" class="box">2016 Project TARDIS</div>

<script th:inline="javascript">
/*<![CDATA[*/
           
function showTask(state, name, description) {
	<!-- create entry block -->
	var task_entry = document.createElement("div");
	task_entry.className = "entry";
	task_entry.id = name;
	
	<!-- block for texts -->
	var text_block = document.createElement("div");
	text_block.className = "textBlock";
	
	<!-- write project name in -->
	var task_name = document.createElement("p");
	task_name.className = "taskNameText";
	var text = document.createTextNode(name);
	task_name.appendChild(text);
	text_block.appendChild(task_name);	
	
	<!-- write project description in -->
	var task_description = document.createElement("p");
	task_description.className = "taskDescription";
	text = document.createTextNode(description);
	task_description.appendChild(text);
	text_block.appendChild(task_description);
	
	task_entry.appendChild(text_block);
	
	<!-- setting button -->
	var settingForm = document.createElement("form");
	var settingButton = document.createElement("input");
	settingButton.className = "settingButton";
	settingButton.type = "image";
	settingButton.id = name + "Setting";
	settingButton.src = "../image/setting.png";
	settingForm.appendChild(settingButton);
	task_entry.appendChild(settingForm);
		
	var kanban_board = document.getElementById(state);
	kanban_board.appendChild(task_entry);
}



<!-- event handler on resize of window -->
function resizeWindow() {
	var size = document.getElementById("board").clientWidth;
	
	// Incase enough width, two column of project and personal to-do list
	if (size>1300) {
		document.getElementById("ToDo").style = "float:left;";
		document.getElementById("In-Progress").style = "float:left;";
		document.getElementById("Review").style = "float:right;";
		document.getElementById("Done").style = "float:right;";
	} else {
		document.getElementById("ToDo").style = "float:left;width:47%;";
		document.getElementById("In-Progress").style = "float:right;width:47%;";
		document.getElementById("Done").style = "float:right;width:47%;";
		document.getElementById("Review").style = "float:left;width:47%;";		
	}
}

<!-- show notifications on mouse over to icon -->
function showNotification(e) {
	
	var notification = document.getElementById("notification");
	
	var size = document.getElementById("board").clientWidth;
	var x = e.clientX - 150 - (size*1.125);
	var y = e.clientY - 150;	
	notification.style.left = x + "px";
	notification.style.top = y + "px";  
	
	if (notification.style.display == "none") {		
		notification.style.display = "block";
	}
}
function closeNotification() {
	document.getElementById("notification").style.display = "none";
}

function showCreateTaskForm() {
	document.getElementById("createTaskFormWrapper").style.display = "block";
	document.getElementById("createTaskIcon").style.display = "none";
}


/*]]>*/
</script>

</body>
</html>