<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/overview.css}" href="../static/css/overview.css" />
</head>
<body onresize="resizeWindow()" onpageshow="resizeWindow()">

<div id="bar" class="box">	
	<input id="accountpage" class="button" type="button" value="My Page" style="float:right;"/>
	<form th:action="@{/logout}" method="post">
		<input id="logout" class="button" type="submit" value="Log Out" style="float:right;margin-right:10px;"/> 
	</form>
	<p id = "username" style="float:right;margin:0px 20px" th:text="'Hello, '+${username}"/>
</div>

<div id="heading" class="box">
	<form action="#" th:action="@{/overview}" method="get" style="float:left;">
		<input type="image" src="../image/Clock.png"/>
	</form>
	<div id="notificationBox" onclick="showNotification(event)" onmouseleave="closeNotification()">
		<img alt="Alarm icon" src="../image/bell.png" style="width:50px;height:50px;"/>
		<div id="notification" style="display:none;"></div>
	</div>	
</div>

<div id="board" class="box">
	<div id="project" class="overview">	
		<div th:each="project : ${projectList}" class="entry" id="${project.name}">
			<div class="textBlock">
				<p class="projectNameText" th:text="${project.name}"/>
				<p class="projectDescription" th:text="${project.description}"/>
			</div>
			<div class="projectTaskList" th:id="${project.name}+TaskList">
				<div th:each="task : ${allTaskList}" th:if="${task.projectId} == ${project.id}" class="projectTaskBlock">
					<p class="taskName" th:text="${task.name}" />
					<progress class="taskProgress" max="100" th:value="${task.taskProgress}"></progress>
				</div>
			</div>
			<form action="#" th:action="@{/kanbanboard}" method="get">
				<input class="kanbanButton" type="image" th:id="${project.name}+Kanban" src = "../image/detail.png"/>
				<input type="hidden" name="projectId" th:value="${project.id.id}"/>
			</form>
		</div>
	
		<form id="createProject" action="#" th:action="@{/overview}" th:object="${createProjectForm}" method="post">
			<img id="createProjectIcon" alt="Create icon" src="../image/create.png" onclick="showCreateProjectForm()"/>
			<div id="createProjectFormWrapper">				
				<p> 
					Project Name:        <input id="projectname" class="createProjectInput" th:field="*{projectName}"/>
				</p>
				<p>
					Project Description: <input id="description" class="createProjectInput" th:field="*{description}"/>
				</p>
				<input id="createProjectButton" class="button" type="submit" value="Create Project" />
			</div>
			<div id="errorwrapper">
				<p id="errorProjectName" th:if="${#fields.hasErrors('projectName')}" th:errors="*{projectName}">Name Error</p>
			</div>
		</form>
		
		<!-- <form id="managementForm" action="#" th:action="@{/kanbanboard}" method="get"></form> -->
	</div>
	<div id="toDoList" class="overview">
			<div th:each="task : ${taskList}" class="entry" id="${task.name}">
			<div class="textBlock">			
				<p class="taskState" th:text="${task.taskState}"/>
				<p class="taskNameText" th:text="${task.name}"/>
				<p class="taskDescription" th:text="${task.description}"/>
			</div>
			<form action="#" th:action="@{/taskview}" th:object="${task}" method="get">
				<input class="taskButton" type="image" th:id="${task.name}+Task" src = "../image/setting.png"/>
				<input type="hidden" name="taskId" th:value="${task.id.id}"/>
			</form>
			</div>
			
	</div>	
</div>

<div id="footer" class="box">2016 Project TARDIS</div>

<script th:inline="javascript">
/*<![CDATA[*/
           
function showTask(project, task, progress) {
	
	var project_task = document.createElement("div");
	project_task.className = "projectTaskBlock";
	
	<!-- name of task -->
	var task_name = document.createElement("p");
	task_name.className = "taskName";
	var text = document.createTextNode(task);
	task_name.appendChild(text);
	project_task.appendChild(task_name);
	
	<!-- progress of task -->
	var task_progress = document.createElement("progress");
	task_progress.className = "taskProgress";
	task_progress.max = "100";
	task_progress.value = progress;
	project_task.appendChild(task_progress);
		
	var task_list = document.getElementById(project + "TaskList");
	task_list.appendChild(project_task);
}

<!-- event handler on resize of window -->
function resizeWindow() {
	var size = document.getElementById("board").clientWidth;
	
	// Incase enough width, two column of project and personal to-do list
	if (size>1300) {
		document.getElementById("project").style = "float:left;";
		document.getElementById("toDoList").style = "float:right;";
	} else {
		document.getElementById("project").style = "float:none;margin:auto;margin-top:25px;width:80%;overflow:auto;";
		document.getElementById("toDoList").style = "float:none;margin:auto;margin-top:25px;margin-bottom:25px;width:80%;overflow:auto;";
	}
}

<!-- show notifications on mouse over to icon -->
function showNotification(e) {
	
	var notification = document.getElementById("notification");
	
	var size = document.getElementById("board").clientWidth;
	var x = e.clientX - 150 - (size*1.125);
	var y = e.clientY - 150;	
	notification.style.left = x + "px";
	notification.style.top = y + "px";  
	
	if (notification.style.display == "none") {		
		notification.style.display = "block";
	}
}
function closeNotification() {
	document.getElementById("notification").style.display = "none";
}

<!-- project creation form appears after click on addProjectIcon -->
function showCreateProjectForm() {
	document.getElementById("createProjectFormWrapper").style.display = "block";
	document.getElementById("createProjectIcon").style.display = "none";
}

var projectList = [[${projectList}]];

/*]]>*/
</script>

</body>
</html>