<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    
	<link rel="stylesheet" th:href="@{/css/overview.css}" href="../static/css/overview.css" />
	<link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
</head>
<body onresize="resizeWindow()" onpageshow="resizeWindow()">

<div th:fragment="bar" id="bar" class="box">	
	<form th:action="@{/mypage}" method="get">
		<input id="mypage" class="button" type="submit" value="My Page" style="float:right;"/>
	</form>
	<form th:action="@{/logout}" method="post">
		<input id="logout" class="button" type="submit" value="Log Out" style="float:right;margin-right:10px;"/> 
	</form>
	<p id = "username" style="float:right;margin:0px 20px" th:text="'Hello, '+${username}"/>
</div>

<div th:fragment="heading" id="heading" class="box">
	<form action="#" th:action="@{/overview}" method="get" style="float:left;">
		<input type="image" src="../image/Clock.png"/>
		<br/>Back to overview
	</form>
	<div id="notificationBox" onclick="showNotification(event)" onmouseleave="closeNotification()">
		<img th:if="${notificationList.empty}" alt="Alarm icon" src="../image/bell.png" style="width:50px;height:50px;"/>
		<img th:unless="${notificationList.empty}" alt="Alarm icon" src="../image/bell2.png" style="width:50px;height:50px;"/>
		<div id="notification" style="display:none;">
			<ul>
				<li th:each="notice : ${notificationList}" >
					<form th:action="@{/deletenotification}" method="post">
					<small th:text="${notice.text}"></small>
						<input type="hidden" name="notificationId" th:value="${notice.id}"/>
						<input th:if="${#httpServletRequest.queryString != null}" type="hidden" name="currentUrl" th:value="${#httpServletRequest.requestURL.toString() + '?' + #httpServletRequest.queryString}"/>
						<input th:if="${#httpServletRequest.queryString == null}" type="hidden" name="currentUrl" th:value="${#httpServletRequest.requestURL.toString()}"/>
						<input type="image" src="../image/DeleteIcon.png"/>
					</form>
				</li>
			</ul>
		</div>
	</div>	
</div>

<div id="board" class="box">
	<div id="project" class="overview">	
		<p class="boardName">My Projects</p>
		<div th:each="project : ${#lists.sort(projectList)}" class="entry" id="${project.name}" th:value="${counter.reset()}">
			<div class="projectTextBlock">
				<p class="projectNameText" th:text="${project.name}"/>
				<p class="projectDescription" th:text="${project.description}"/>
			</div>
			<div class="projectTaskList" th:id="${project.name}+TaskList" >
				<div th:each="task : ${allTaskList}" th:if="${task.projectId} == ${project.id} and ${counter.increment()} &lt; 4" class="projectTaskBlock">
					<p class="taskName" th:text="${task.name}"/>
					<progress class="taskProgress" max="100" th:value="${task.taskProgress}"></progress>
				</div>
				<img class="dot" src="../image/dotdotdot.png" th:if="${counter.getValue()} == 4"/>
			</div>			
			
			<form class="settingForm" action="#" th:action="@{/kanbanboard}" method="get">
				<input class="settingButton" type="image" th:id="${project.name}+Kanban" src = "../image/detail.png"/>
				<input type="hidden" name="projectId" th:value="${project.id.id}"/>
			</form>
		</div>
	
		<form id="createProject" action="#" th:action="@{/overview}" th:object="${createProjectForm}" method="post">
			<img id="createProjectIcon" alt="Create icon" src="../image/create.png" onclick="showCreateProjectForm()"/>
			<div id="createProjectFormWrapper">				
				<p> 
					Project Name:        <input id="projectname" class="createProjectInput" th:field="*{projectName}"/>
				</p>
				<p>
					Project Description: <input id="description" class="createProjectInput" th:field="*{description}"/>
				</p>
				<input id="createProjectButton" class="button" type="submit" value="Create Project" />
			</div>
			<div id="errorwrapper">
				<p id="errorProjectName" th:if="${#fields.hasErrors('projectName')}" th:errors="*{projectName}">Name Error</p>
			</div>
		</form>
		
		<!-- <form id="managementForm" action="#" th:action="@{/kanbanboard}" method="get"></form> -->
	</div>
	<div id="toDoList" class="overview">
		<p class="boardName">My Tasks</p>
			<div th:each="task : ${#lists.sort(taskList)}" class="entry" id="${task.name}">
			<div class="textBlock">
 				<p class="projectName" th:text="'Project: ' + ${map['__${task.projectId.id}__']}"/>		
				<p class="taskState" th:text="'State: ' + ${task.taskState}"/>
				<p class="taskNameText" th:text="'Name: ' + ${task.name}"/>
				<p class="taskDescription" th:text="'Description: ' + ${task.description}"/>
				<p class="taskDueDate" th:text="'Due date: ' + ${#dates.format(task.dueDate,'yyyy-MM-dd')}"/>
			</div>
			<form class="settingForm" action="#" th:action="@{/taskdetail}" th:object="${task}" method="post">
				<input class="settingButton" type="image" th:id="${task.name}+Task" src = "../image/detail.png"/>
				<input type="hidden" name="taskId" th:value="${task.id.id}"/>
			</form>
			</div>
			
	</div>	
</div>

<div th:fragment="footer" id="footer" class="box">2016 Project TARDIS</div>

<script th:inline="javascript" th:src="@{js/base.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/           
<!-- event handler on resize of window -->
function resizeWindow() {
	var size = document.getElementById("board").clientWidth;
	
	// Incase enough width, two column of project and personal to-do list
	if (size>600) {
		document.getElementById("project").style = "float:left;";
		document.getElementById("toDoList").style = "float:right;";
	} else {
		document.getElementById("project").style = "float:none;margin:25px auto 25px auto;width:80%;padding-top:1px;";
		document.getElementById("toDoList").style = "float:none;margin:25px auto 25px auto;width:80%;padding-top:1px;";
	}
}


<!-- project creation form appears after click on addProjectIcon -->
function showCreateProjectForm() {
	document.getElementById("createProjectFormWrapper").style.display = "block";
	document.getElementById("createProjectIcon").style.display = "none";
}

/*]]>*/
</script>

</body>
</html>