<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Project Setting</title>
<link rel="stylesheet" th:href="@{/css/settingview.css}"
	href="../static/css/settingview.css" />
</head>
<body>

	<div th:replace="overview :: bar"></div>

	<div th:replace="overview :: heading"></div>

	<div id="board" class="box">
		<H1>Project Setting</H1>
		<div th:text="'Project owner: '+ ${project.projectOwner}"></div>
		<div th:text="'Project name: '+ ${project.name}"></div>
		<div th:text="'Project Description: '+ ${project.description}"></div>
		<br />
		<div>Project Member</div>
		<div th:each="m : ${project.projectMembers}" th:value="${m}"
			th:text="${m}"></div>


		<form action="#" th:action="@{/projectchange}"
			th:object="${setProjectForm}" method="post">
			<input type="hidden" name="projectId" th:value="${project.id.id}" />
			<p>
				New Project name: <input id="projectName" type="text"
					th:field="*{projectName}" /> <b id="projectNameError"
					th:if="${#fields.hasErrors('projectName')}"
					th:errors="*{projectName}">Project name error</b>
			</p>
			<p>
				New Description: <input id="description" type="text"
					th:field="*{description}" />
			</p>
			<p>
				New Member: <input id="newMember" type="text"
					th:field="*{newMember}" /> <b id="newMemeberError"
					th:if="${#fields.hasErrors('newMember')}" th:errors="*{newMember}">Member
					error</b>
			</p>
			<p>
				<button id="projectSettingSubmit" name="action" type="submit" value="submit">Submit</button>
			</p>

		</form>



			<form action="#" th:action="@{/kanbanboard}" method="get">
				<button name="action" type="submit" value="submit">Cancel</button>
				<input type="hidden" name="projectId" th:value="${project.id.id}"/>
			</form>


	</div>

	<div th:replace="overview :: footer"></div>

	<script th:inline="javascript">
	<!-- show notifications on mouse over to icon -->
		function showNotification(e) {

			var notification = document.getElementById("notification");

			var size = document.getElementById("board").clientWidth;
			var x = e.clientX - 150 - (size * 1.125);
			var y = e.clientY - 150;
			notification.style.left = x + "px";
			notification.style.top = y + "px";

			if (notification.style.display == "none") {
				notification.style.display = "block";
			}
		}
		function closeNotification() {
			document.getElementById("notification").style.display = "none";
		}
	</script>

</body>
</html>