<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register new SAM account</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/registration.css}" href="../static/css/registration.css" />
</head>
<body>
	<div th:replace="index :: indexheading"></div>
	
	<p style="text-align:center;font-size:20px;">Welcome!</p>
	<div id="registrationBox">
		<form id="registrationForm" action="#" th:action="@{/registration}" th:object="${registrationForm}"
			method="post">
			<p>
				Username:<input class="textBox" id="username" name="username" type="text"
					th:field="*{username}" /> <b
					th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name
					Error</b>
			</p>		
			<p>
				Repeat Username:<input class="textBox" id="usernameRepeated" name="usernameRepeated" type="text"
					th:field="*{usernameRepeated}" /> <b
					th:if="${#fields.hasErrors('usernameRepeated')}" th:errors="*{usernameRepeated}">Name
					Error</b>
			</p>
			<p>
				Password:<input class="textBox" id="password" name="password" type="password"
					th:field="*{password}" /> <b
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
					Error</b>
			</p>
			<p>
				Repeat Password:<input class="textBox" id="passwordRepeated" name="passwordRepeated" type="password"
					th:field="*{passwordRepeated}" /> <b
					th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}">Password
					Error</b>
			</p>
			<p style="text-align:center;">
				<input id="createButton" class="button" type="submit"
					value="Create account" />
			</p>
		</form>
	</div>
	
	<div th:replace="index :: indexfooter"></div>
</body>
</html>