<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Task Setting</title>
    <link rel="stylesheet" th:href="@{/css/settingview.css}" href="../static/css/settingview.css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
</head>
<body>

<div th:replace="overview :: bar"></div>

<div th:replace="overview :: heading"></div>
	
<div id="board" class="box">
    <H1>Task Setting</H1>
	
    <form class="settingForm" action="#" th:action="@{/taskchange}" th:object="${setTaskForm}" method="post">

		<input type="hidden" name="taskId" th:value ="${task.id.id}"/>
		<input type="hidden" name="projectId" th:value="${project.id.id}"/>
		<p>
				Task name: <input id="taskName" name="taskName" type="text"
					th:value="${task.name}" /> <b
					th:if="${#fields.hasErrors('taskName')}"
					th:errors="*{taskName}">Task name error</b>
		</p>
		<p>
			Task Assignee: <input id="owner" name="owner" type="text"
				th:value="${task.owner}" /> <b
				th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}">Member
				error</b>
		</p>
		<p>
			Task Due Date: <input id="dueDate" name="dueDate" type="text"
				th:value="${#dates.format(task.dueDate,'yyyy-MM-dd')}" /> <b
				th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}">Due Date
				error</b>
		</p>
			<p>
				Description: <input id="taskDescription" name="taskDescription" type="text"
					th:value="${task.description}" />
			</p>		
		
        <!--<p>Due Date: <input id="duedate" type="text" th:field="${task.dueDate}"/></p>-->
        <!--There is an error on Date-->
        
        
        <p>
            <button name="action" type="submit" value="submit">Submit</button>
            <!--<button name="action" type="reset" value="reset">Reset</button>-->
            <!--<button name="action" type="submit" value="cancel">Cancel</button>-->
        </p>
    </form>
    
    
			<form action="#" th:action="@{/kanbanboard}" method="get">
				<button name="action" type="submit" value="submit">Cancel</button>
				<input type="hidden" name="projectId" th:value="${task.projectId.id}"/>
			</form>
    
</div>

<div th:replace="overview :: footer"></div>
    
<script th:inline="javascript" th:src="@{js/base.js}"></script>    

</body>
</html>