<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Task Setting</title>
<link rel="stylesheet" th:href="@{/css/settingview.css}"
	href="../static/css/settingview.css" />
<link rel="stylesheet" th:href="@{/css/base.css}"
	href="../static/css/base.css" />
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
 	$(function() {
    	$( "#dueDate" ).datepicker({ dateFormat: "yy-mm-dd" }).val();
  	});
</script>
</head>
<body>

	<div th:replace="overview :: bar"></div>

	<div th:replace="overview :: heading"></div>

	<div id="board" class="box">
	<!-- /taskchange is mapped in the TaskController not TaskDetailController -->
		<form class="settingForm" action="#" th:action="@{/taskchange}"
			th:object="${setTaskForm}" method="post">
			<div style="text-align:center;">
				<H1>Task Setting</H1>
			</div>
			<div id="configurations">
			<div id="infos">
				<input type="hidden" name="taskId" th:value="${task.id.id}" /> <input
					type="hidden" name="projectId" th:value="${task.projectId.id}" />
				<p>
					Task name: <input id="taskName" name="taskName" type="text"
						th:value="${task.name}" /> <b
						th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}">Task
						name error</b>
				</p>
				<p>
					Task Assignee: <input id="owner" name="owner" type="text"
						th:value="${task.owner}" /> <b
						th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}">Member
						error</b>
				</p>				
				<p>
					Description: <input id="taskDescription" name="taskDescription"
						type="text" th:value="${task.description}" />
				</p>
			</div>
			<div id="notifications">
				<p>
					Task Due Date: <input id="dueDate" name="dueDate" type="text"
						th:value="${#dates.format(task.dueDate,'yyyy-MM-dd')}" /> <b
						th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}">Due
						Date error</b>
				</p>
				<p>
					Key: <input id="key" name="key"
						type="number" th:value="${task.key}" /><b
						th:if="${#fields.hasErrors('key')}" th:errors="*{key}">error</b>
				</p>
			</div>
			<div id="notifications">
				<p>Notifications:</p>
				<p>
					<input type="checkbox" id="oneDayNotification"
						name="oneDayNotification" />One day earlier
				</p>
				<p>
					<input type="checkbox" id="threeDayNotification"
						name="threeDayNotification" />Three days earlier
				</p>
				<p>
					<input type="checkbox" id="sevenDayNotification"
						name="sevenDayNotification" />Seven days earlier
				</p>
			</div>
			</div>

			
				<button id="tasksettingviewsubmit" name="action" type="submit" value="submit" >Submit</button>
			
		</form>

		<form id = "tasksettingviewcancel" action="#" th:action="@{/taskdetail}" method="get">
			<button name="action" type="submit" value="submit" style="float:left;margin-right:3%">Cancel</button>
			<input type="hidden" name="taskId" th:value="${task.id.id}" />
		</form>
		
		<!-- /taskdelete is mapped in the TaskController not TaskDetailController -->
		<form id = "delete" action="#" th:action="@{/taskdelete}" method="post">
			<button name="action" type="submit" value="submit" style="float:left;">Delete</button>
			<input type="hidden" name="taskId" th:value="${task.id.id}" />
			<input type="hidden" name="projectId" th:value="${task.projectId.id}" />
		</form>

	</div>

	<div th:replace="overview :: footer"></div>

	<script th:inline="javascript" th:src="@{js/base.js}"></script>
</body>
</html>