<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Task Detail</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/taskdetail.css}"
	href="../static/css/taskdetail.css" />
<link rel="stylesheet" th:href="@{/css/base.css}"
	href="../static/css/base.css" />
</head>
<body onresize="resizeWindow()" onpageshow="resizeWindow()">

	<div th:replace="overview :: bar"></div>

	<div th:replace="overview :: heading"></div>

	<div id="board" class="box">
		<div id="taskDetailBox">
			<H1>Task Note</H1>
				<form action="#" th:action="@{/taskview}" th:object="${task}" method="get">
					<input class="settingButton" type="image" th:id="${task.name}+Task"
						   src="../image/setting.png" /> <input type="hidden" name="taskId"
																th:value="${task.id.id}" />
				</form>
			<div class="entry" id="${task.name}">
				<nav>
					<div class="taskInfo">
						<p>Project Name :<span class="projectName" th:text="${task.projectName}" /></p>
						<p>Task State: <span style="font-weight:bold" class="taskState" th:text="${task.taskState}" /></p>
						<p>Task Name: <span class="taskNameText" th:text="${task.name}" /></p>
						<p>Task Description: <span class="taskDescription" th:text="${task.description}" /></p>


					</div>
				</nav>
				<section>
					<div class="statusInfo">
						<p>This is part of contribution and status input box</p>

					</div>
				</section>
			</div>

			<p></p><p>Comments</p><p></p>
			<div id="commentbox">
				<p>Hello this is comment</p>
			</div>
		</div>
	</div>

	<div th:replace="overview :: footer"></div>

	<script th:inline="javascript" th:src="@{js/base.js}"></script>

</body>
</html>