div {
	-webkit-animation: fadein 0.3s;
	-moz-animation: fadein 0.3s;
	-ms-animation: fadein 0.3s;
	-o-animation: fadein 0.3s;
	animation: fadein 0.3s;
}

p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.box {
	width: 80%;
	min-width: 1000px;
	margin: auto;
}

.entry {
	width: 90%;
	height: 150px;
	margin: auto;
	margin-top: 25px;
	padding: 1%;
	border: 1px solid lightgrey;
	background-color: white;
	display: table;
}

.textBlock {
	margin: 0.5%;
	width: 80%;
	height: 140px;
	float: left;
	padding: 0px;
	word-break:break-all;
	display: table;
}

.nameText {
	width: 90%;
	margin-left: 5px;
	margin-right: 5px;
}

.descriptionText {
	width: 90%;
	margin-left: 5px;
	margin-top: 0px;
}

.settingForm {
	height: 100%;
}

.settingButton {
	max-width: 50px;
	width: 15%;
	height: width;
	float: right;
	position: relative;
	top: 30%;
}

#bar {
	margin-top: 30px;
	height: 21px;
}

#heading{
	margin-top: 10px;
	height: 150px;
	position: relative;
}

#notificationBox {
	height: auto;
	width: auto;
	margin: 0px;
	float: right;
	position: relative;
	top: 90px;
	right: 10px;
}

#notification {
	border: 1px solid grey;
	width: 200px;
	min-height: 300px;
	background-color: #b3e4ff;
	position: absolute;
	left: -150px;
	z-index: 3;
	display:none;
}

#board {
	display: table;
	border: 1px solid grey;
	margin: auto;
}

#footer {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: right;
}