.kanban {
	border: 1px solid lightgrey;
	width: 23.25%;
	min-height: 400px;
	margin: 1% 0.7% 2% 0.7%;
	background-color: #b3e4ff;
}

.boardName {
	text-align: center;
	font-size: 120%;
}

.taskName {
	text-align: center;
}

.taskProgress {
	margin-left:2px;
	width: 70px;
}

.createTaskInput {
	width: 50%;
}

#projectBox {
	height: auto;
	text-align: center;
	padding: 10px;
}

#createTask {
	width: 80%;
	height: auto;
	padding: 10px;
	margin: 25px auto 25px auto;
	border: 1px solid lightgrey;
	background-color: white;
	text-align: center;
}

#createTaskFormWrapper {
	display: none;
}

#createTaskIcon {
	width: 30px;
	height: 30px;
}