div {
	-webkit-animation: fadein 0.3s;
	-moz-animation: fadein 0.3s;
	-ms-animation: fadein 0.3s;
	-o-animation: fadein 0.3s;
	animation: fadein 0.3s;
}

p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.box {
	width: 80%;
	margin: auto;
}

.overview {
	border: 1px solid lightgrey;
	width: 46%;
	min-height: 400px;
	margin: 23px;
	background-color: lightgrey;
}

.entry {
	min-width: 550px;
	width: 90%;
	height: 150px;
	margin: auto;
	margin-top: 25px;
	padding-left: 5px;
	padding-right: 15px;
	border: 1px solid grey;
	background-color: white;
}

.textBlock {
	margin: 5px;
	min-width: 230px;
	width: 30%;
	height: 140px;
	float: left;
	padding: 0px;
	word-break:break-all;
}

.projectNameText {
	width: 90%;
	margin-left: 5px;
	margin-right: 5px;
}

.projectDescription {
	width: 90%;
	margin-left: 5px;
	margin-top: 0px;
}



.projectTaskList {
	min-width: 260px;
	width: 45%;
	height: 100px;
	float: left;
	position: relative;
	top: 30px;
}

.projectTaskBlock {
	margin: 5px;
	width: 75px;
	height: 75px;
	background-color: lightgrey;
	float: left;
}

.kanbanButton {
	width: 50px;
	height: 50px;
	float: right;
	position: relative;
	top: 50px;
}
.taskButton {
	width: 50px;
	height: 50px;
	float: right;
	position: relative;
	top: 50px;
}
.taskName {
	text-align: center;
}

.taskProgress {
	margin-left:2px;
	width: 70px;
}

.createProjectInput {
	width: 50%;
}

#bar {
	margin-top:30px;
	height: 21px;
}

#heading {
	margin-top:10px;
	height: 150px;
}

#board {
	display: table;
	border: 1px solid grey;
}


#notification {
	border: 1px solid grey;
	width: 200px;
	height: 300px;
	background-color: lightgrey;
	position: absolute;
	z-index: 3;
}

#notificationBox {
	height: auto;
	width: auto;
	margin: 0px;
	float: right;
	position: relative;
	top: 90px;
	right: 10px;
}

#project {
	float: left;
	margin-right: 5px;
}

#createProject {
	width: 70%;
	height: auto;
	padding: 10px;
	margin: 25px auto 25px auto;
	border: 1px solid grey;
	background-color: white;
	text-align: center;
}

#createProjectFormWrapper {
	display: none;
}

#createProjectIcon {
	width: 30px;
	height: 30px;
}

#toDoList {
	float: right;
	margin-left: 5px;
}

#footer {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: right;
}

#errorwrapper {
	color: red;
}