.boardName {
	text-align: center;
	font-size: 150%;
}

.projectTaskList {
	height: 75px;
	width: 45%;
	float: left;
	position: relative;
	top: 30px;
	overflow: hidden;
}

.taskName {
	text-align: center;
}

.taskProgress {
	width: 95%;
}

.createProjectInput {
	width: 50%;
}

.dot {
	width: 10%;
	max-width: 20px;
	height: width;
	position: relative;
	top: 40%;
	float: right;
}

@media screen and (max-device-width:480px) {
	#project {
		margin: free;
		width: 95%;
	}
	#toDoList {
		margin: free;
		width: 95%;
	}
	.projectTaskBlock {
		margin: 1%;
		max-width: 75px;
		width: 45%;
		max-height: 75px;
		background-color: lightgrey;
		float: left;
		text-align: center;
		overflow: hidden;
	}
	.overview {
		min-width: 95%;
		min-height: 400px;
		margin: 1.5%;
		background-color: #b3e4ff;
		padding-bottom: 25px;
	}
	.projectTextBlock {
		margin: 5px;
		width: 30%;
		height: 140px;
		float: left;
		padding: 0px;
		word-break: break-all;
		display: table;
	}
}

@media screen and (min-device-width:481px) {
	#project {
		float: left;
		margin-right: 5px;
	}
	#toDoList {
		float: right;
		margin-left: 5px;
	}
	.projectTaskBlock {
		margin: 1%;
		max-width: 75px;
		width: 28%;
		max-height: 75px;
		background-color: lightgrey;
		float: left;
		text-align: center;
		overflow: hidden;
	}
	.overview {
		width: 46%;
		min-height: 400px;
		margin: 1.5%;
		background-color: #b3e4ff;
		padding-bottom: 25px;
	}
	.projectTextBlock {
		margin: 5px;
		width: 40%;
		height: 140px;
		float: left;
		padding: 0px;
		word-break: break-all;
		display: table;
	}
}

#createProject {
	width: 70%;
	height: auto;
	padding: 10px;
	margin: 25px auto auto auto;
	border: 1px solid lightgrey;
	background-color: white;
	text-align: center;
}

#createProjectFormWrapper {
	display: none;
}

#createProjectIcon {
	width: 30px;
	height: 30px;
}

#errorwrapper {
	color: red;
}