@media screen and (max-device-width:480px) {
	#configurations {
		width: 80%;
		overflow: hidden;
		height: auto;
		margin: 2% auto 1% auto;
	}
	#infos {
		width: 95%;
		float: left;
	}
	#notifications {
		float: left;
		width: 95%;
	}
	#cancel {
		margin-left: 17%;
	}
	#passwordForm {
		width: 80%;
		margin-left: 10%
	}
	#tasksettingviewsubmit {
		margin-left: 18%;
		float: left;
		margin-right: 3%
	}
	#tasksettingviewcancel {
		margin-left: 17%;
	}
	#projectSettingSubmit{
		margin-left:30%;float:left;margin-right:3%;
	}
}

@media screen and (min-device-width:481px) {
	#configurations {
		width: 70%;
		overflow: hidden;
		height: auto;
		margin: 2% auto 1% auto;
	}
	#infos {
		width: 49%;
		float: left;
	}
	#notifications {
		float: right;
		width: 49%;
	}
	#tasksettingviewsubmit {
		margin-left: 40%;
		float: left;
		margin-right: 3%
	}
	#projectSettingSubmit{
		margin-left:43%;float:left
	}
}

.settingForm {
	width: auto;
	margin: auto;
}

.infoInput {
	text-align: right;
}

.configurationButton {
	float: bottom;
	clear: right;
}

#board {
	width: 78%;
	padding: 1%;
	display: table;
	border: 1px solid grey;
	text-align: center;
}