.settingForm {
	width: auto;
	margin: auto;
}

.infoInput {
	text-align: right;
}

.configurationButton {
	float: bottom;
	clear: right;
}

#board {
	width: 78%;
	padding: 1%;
	display: table;
	border: 1px solid grey;
	text-align: center;
}

#configurations {
	width: 70%;
	overflow: hidden;
	height: auto;
	margin: 2% auto 1% auto;
}

#infos {
	width: 49%;
	float: left;
}

#notifications {
	float: right;
	width: 49%;
}