@media screen and (max-device-width:480px) {
	#TaskNameContainer {
		margin: 25px;
		height: 30px;
	}
	#taskNote {
		font-size: 20px;
		width: 80%;
		float: left;
		position: relative;
		left: 10%;
	}
	.taskDeatailsettingButton {
		max-width: 50px;
		width: 15%;
		height: width;
		float: right;
		position: relative;
		top: 30%;
	}
	.taskNoteTextBlock {
		width: 90%;
		height: auto;
		padding: 10px;
		border: 1px solid lightgray;
	}
}

@media screen and (min-device-width:481px) {
	#TaskNameContainer {
		margin: 25px;
		height: 60px;
	}
	#taskNote {
		font-size: 40px;
		margin: 15px;
		width: 80%;
		float: left;
		position: relative;
		left: 10%;
	}
	.taskNoteTextBlock {
		width: 98%;
		height: auto;
		padding: 10px;
		border: 1px solid lightgray;
	}
}

.commentbox {
	width: 90%;
	margin: auto;
	min-height: 100px;
	border: 1px solid lightgrey;
	background-color: white;
	display: table;
	padding: 1%;
	text-align: left;
}

#taskBox {
	height: auto;
	text-align: center;
	padding: 10px;
}

#taskDetailBox {
	width: 90%;
	min-height: 400px;
	margin: auto auto 3% auto;
	background-color: #b3e4ff;
	padding: 1.5%;
	text-align: center;
}

.createTaskNoteInput {
	width: 50%;
}

#createTaskNote {
	width: 80%;
	height: auto;
	padding: 10px;
	margin: 25px auto 25px auto;
	border: 1px solid lightgrey;
	background-color: white;
	text-align: center;
}

#createTaskNoteFormWrapper {
	display: none;
}

#createTaskNoteIcon {
	width: 30px;
	height: 30px;
}