.commentbox {
	width: 90%;
	margin: auto;
	min-height: 100px;
	border: 1px solid lightgrey;
	background-color: white;
	display: table;
	padding: 1%;
	text-align: left;
}

#taskInfo {
	width: 45%;
	min-height: 200px;
	border: 1px solid red;
	background-color: white;
	display: table;
	text-align :left;
	float: left;
	padding: 1%;
	margin: 1%;
}

#statusInfo {
	width: 45%;
	min-height: 200px;
	border: 1px solid blue;
	background-color: white;
	float: right;
	text-align : center;
	padding: 1%;
	margin: 1%;
}

#taskBox {
	height: auto;
	text-align: center;
	padding: 10px;
}

#taskDetailBox {
	width: 90%;
	min-height: 400px;
	margin: auto;
	background-color: #b3e4ff;
	padding: 1.5%;
	text-align: center;
}