<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <form action="#" th:action="@{/index}" method="post">
    <p>Username:<input name="username" type="text" /></p>
    <p>Password:<input name="password" type="password" /></p>
    <p><input type="submit" value="Login"/></p>
    </form>
</body>
</html>